// Colors
$color_yellow: #ECA539;
$color_red_normal: #F22539;
$color_red_pressed: #C00E20;
$color_black: #353535;
$color_gray_1: #5E5E5E;
$color_gray_2: #BFBFBF;
$color_gray_3: #E8E8E8;
$color_white_1: #F5F5F5;
$color_white_2: #F9F9F9;



//Font Icon
$font_name: "pokemon-font";

$url_0: url(./../assets/fonts/iconfonts/pokemon-font.eot?k8b6nq);
$url_1: url(./../assets/fonts/iconfonts/pokemon-font.eot?k8b6nq#iefix);
$url_2: url(./../assets/fonts/iconfonts/pokemon-font.ttf?k8b6nq);
$url_3: url(./../assets/fonts/iconfonts/pokemon-font.woff?k8b6nq);
$url_4: url(./../assets/fonts/iconfonts/pokemon-font.svg?k8b6nq#pokemon-font);